SERVER_HOST=0.0.0.0
SERVER_PORT=3000
DOMAIN_PROTOCOL=http
UPLOAD_TO_S3=false
DOMAIN_PORT=3000
DB_PROTOCOL=mongodb
DB_HOST=127.0.0.1
DB_PORT=27017
DB_NAME=CamelSports
BASE_PATH=
NODE_ENV=development
PLATFORM=CamelSports
S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=AKIAIOBTEMD6LOJGIIZA
AWS_SECRET_ACESS_KEY=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
AWS_REGION=us-east-2
SMS_SENDER=
SERVER_URL=http://localhost:4000
NODEMAILER_SERVICE=
NODEMAILER_HOST=
NODEMAILER_USER=
NODEMAILER_PASSWORD=
ADMIN_EMAIL=admin.test@yopmail.com
ADMIN_PASSWORD=Admin@123